.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-specific__details a {
  display: block;
  width: 61.55px;
  margin: auto;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
  min-width: 0px;
}

.product-image_thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
