.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  animation-name: slow-reveal;
  animation-duration: 1s;
}

.products {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

.products img {
  grid-column: -1/1;
}

@keyframes slow-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.guitars {
  max-width: 1000px;
  margin: auto;
}
