@font-face {
  font-family: "boots & spurs";
  src: ("fonts/BootsAndSpurs.ttf") format(ttf);
}

.header-link,
h1,
h2,
h3 {
  font-family: "boots & spurs", sans-serif;
  text-decoration: none;
}

.background-image {
  background-image: url("../images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
  padding: 10px;
}

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px 50px;
}

nav a {
  text-decoration: none;
}

.current {
  text-decoration: underline;
}

.home-info {
  border-radius: 100px;
  width: 100%;
}

.reviews {
  background-color: #e8e8e8;
  text-align: center;
  padding: 50px;
}

.review div {
  margin: 50px;
}

.review {
  text-align: left;
  margin: auto;
}

.review img {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.reviews__name {
  display: block;
}

.featured {
  background-color: #fbfbfb;
}

.cta {
  background-color: #bb0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 2;
  min-width: 42.4833px;
  text-align: center;
  margin: 5px;
}

.cta-view {
  padding: 10px 80px;
  font-size: 1em;
}

.cta-sale {
  background-color: #127300;
}

footer {
  text-align: center;
  padding: 20px;
}

/* contact page*/
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}

.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*product specific page*/
.guitar-header {
  position: absolute;
  top: 100px;
  left: 100px;
}

.header {
  display: flex;
  align-items: center;
}

.our-guitars {
  margin: 50px auto;
}

.our-guitars,
.review {
  max-width: 1000px;
  display: flex;
}

.our-guitars > *,
.review > * {
  flex: 1;
}

.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0px 30px;
}

.product-specific__details a {
  display: block;
  width: 61.55px;
  margin: auto;
}

.product-specific__price {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
  min-width: 0px;
}

.product-image_thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

/* products*/

.featured h3 {
  grid-column: -1/1;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px;
}

.featured img {
  width: 100%;
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
}

/* guitars */

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.products img {
  width: 100%;
  grid-column: -1/1;
}

.guitars {
  max-width: 1000px;
  margin: auto;
}

/* media tablet */

@media only screen and (min-width: 401px) and (max-width: 800px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* media phone */

@media only screen and (max-width: 400px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-wrapper {
    display: block;
  }

  .product-specific {
    display: block;
  }

  .guitar-header {
    top: 20px;
    left: 50px;
    max-width: 300px;
  }

  .background-image {
    min-height: 50vh;
    background-position-x: center;
  }

  .our-guitars {
    display: block;
    text-align: center;
  }

  .our-guitars div ul {
    text-align: left;
  }

  .our-guitars img {
    max-width: 350px;
  }

  .review {
    display: block;
  }

  .review div {
    margin-bottom: 150px;
  }

  .reviews {
    padding: 20px 0px;
  }

  .featured {
    grid-template-columns: repeat(1, 1fr);
  }

  .featured h3 {
    text-align: center;
  }

  .featured div {
    margin: 20px;
  }
}
