@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "boots & spurs";
  src: ("fonts/BootsAndSpurs.ttf") format(ttf);
}

.header-link,
h1,
h2,
h3 {
  font-family: var(--text-heading), sans-serif;
  text-decoration: none;
}

body {
  font-family: var(--text-paragraph), sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  background: var(--color-header-footer);
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px 50px;
}

footer {
  text-align: center;
  padding: 20px;
}
