@font-face {
  font-family: "boots & spurs";
  src: ("fonts/BootsAndSpurs.ttf") format(ttf);
}

.header, h1, h2, h3 {
  font-family: 'boots & spurs', sans-serif;
}

.background-image {
  background-image: url("../images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
}

body {
  font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #202020;
    color: #fff;
}

header a {
    color: #fff;
}


nav li {
    display: inline-block;
  }

.home-info {
  border-radius: 100px;
}

.reviews {
    background-color: #e8e8e8;
}

.reviews img {
  border-radius: 50%;
}

.featured-products {
    background-color: #fbfbfb;
  }


.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
}

.cta-sale {
  background-color: #127300;
}
  
footer {
  text-align: center;
}

input, select, textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px; 
}